.form{
  background-color:wheat;
  width: 30%;
  height: 100%;
  margin-left: 31%;
  padding: 1%;
  border-radius: 30px;
  margin-top: 11%;
  border: 2px solid brown;
}
.form .input{
  width:80%;
  padding:2%;
  margin-top: 3%;
  margin-left: 7%;
}
.form .err{
  margin-left: 10%;
  animation: error 1s ease-in-out infinite;
  color: black;
  font-weight: bold;
}
@keyframes error {
  70%{
    color: red;
  }
  78%{
    color: black;
  }
  86%{
    color: red;
  }
}
.form .exp{
  margin-left: 7%;
}
.form .but{
  width:80%;
  padding:2%;
  margin-top: 3%;
  margin-left: 7%;
  margin-bottom: 5%;
}